
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --first-color: hsl(205deg 86% 17%);
  --second-color: hsl(205deg 78% 60%);
  --black-color: #222;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,::after,
::before  {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  letter-spacing: 0.2rem;
  color: var(--second-color);
  /* list-style: none; */
  /* box-sizing: border-box; */
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  /* font-weight: bold; */
}

nav {
  width: 100%;
  background: #fff;
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: --box-shadow;
}

nav h4 {
  color: var(--second-color);
}

.nav-center {
  display: flex;
  max-width: 620px;
  width: 90vw;
  margin: 0 auto;
  align-items: center ;
  justify-content: space-between;  
  background: #fff;
  color: var(--first-color);
}

nav a {
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 1rem;
}

ul > li {
  display: inline-block;
  /* color: var(--black-color); */
}

a {
  text-decoration: none;
  color: var(--black-color);
}

a:hover {
  color: var(--second-color);
  text-decoration: none;    
}

.container {
  display: block;  
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container h2 {
  background-color: black;
  color: #fff;
  font-size: 2.2rem;  
  letter-spacing: 0.25rem;
  /* display: flex; */
  padding: auto;
  margin: auto;
  margin-bottom: 30px;
  justify-content: center;
  padding: 20px 20px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

#btn {
  display: flex;
  padding: auto;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.btn {
  padding: 12px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  background: transparent;
  color: var(--black-color);
  display: inline-block;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: 0.35s;
  border: 2px solid black;
}

.btn:hover {
  background: black;
  color: #fff;
  transition: 0.3s;
}




